/* Dark theme */

.mailtoui-modal {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(0, 0, 0);
}

.mailtoui-modal-content {
    background-color: black;
    border-radius: 5%;
}

.mailtoui-modal-head {
    background-color: #000000;
}

.mailtoui-modal-title {
    font: 1.5em 'Segoe UI', 'Century Gothic';
    color: rgb(77, 225, 255);
}

.mailtoui-modal-close {
    margin-top: 0.5rem;
    color: white;
    transition: color 0.5s ease-in;
}

.mailtoui-modal-close:focus,
.mailtoui-modal-close:hover {
    color: rgb(77, 225, 255);
}

.mailtoui-modal-body {
    background-color: rgb(25, 25, 25);
}

.mailtoui-button-content,
.mailtoui-button-copy {
    background-color: rgb(15, 15, 15);
    color: white;

    transition: background-color 0.5s linear, color 0.5s linear;
}

.mailtoui-button-content:hover,
.mailtoui-button-content:focus,
.mailtoui-button:focus .mailtoui-button-content,
.mailtoui-button-copy:hover,
.mailtoui-button-copy:focus {
    background-color: rgb(35, 35, 35);
    color: rgb(77, 225, 255);
}

.mailtoui-button-text {
    margin-top: 0.15em;
    margin-left: 2em;
}

.mailtoui-button-content>span>svg {
    margin: -1.25em -3em 0em 0em;
}

.mailtoui-button-copy>span>svg {
    margin: -1.35em -3em 0em 0em;
}

.mailtoui-email-address {
    background-color: rgb(35, 35, 35);
    color: rgba(255, 255, 255, 0.7);
    font: 1em 'Segoe UI', 'Century Gothic';
    /*-webkit-user-select: none; /* Safari */
    /*-moz-user-select: none; /* Firefox */
    /*-ms-user-select: none; /* IE10+/Edge */
    /*user-select: none; /* Standard */
}

/* End dark theme */